# Misc
__pycache__/
.vscode
.DS_Store
.pytest_cache/
*.egg-info
build/
dist/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

# Generated data
data/scalable_puzzles.txt
*.png
*.csv
*.xlsx
scripts